Python/School/Assessment/
PythonApplication1
Python/School/Revision/
Python/Functions/SQL/.env
Python/Functions/Calculator/Fun/Paths.py
Python/Functions/__pycache__/
Python/Functions/Calculator/__pycache__/
Python/Functions/Calculator/Fun/__pycache__/