body {
    background: linear-gradient(45deg, #000000, #ffffff)
}
h1 {
    color: #ffffff; text-align: center;
}

@keyframes myLink {
    0% {
        color: #ff0000;
    }
    20% {
        color: #ffff00;
    }
    40% {
        color: #00ff00;
    }
    60% {
        color: #00ffff;
    }
    80% {
        color: #0000ff;
    }
    100% {
        color: #ff00ff;
    }
}

a:link {
    color: #ffffff;
}
a:hover {
    animation-name: myLink;
    animation-duration: 4s;
    animation-iteration-count: 100;
}
a:visited {
    color: #ffffff;
}